<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Texty.html</welcome-file>
		<welcome-file>TextyReports.html</welcome-file>
	</welcome-file-list>

	<security-constraint>
        <web-resource-collection>
            <web-resource-name>profile</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
	
	<!-- Servlets -->
	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>hdm.itprojekt.texty.server.LoginServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>administrationServlet</servlet-name>
		<servlet-class>hdm.itprojekt.texty.server.TextyAdministrationImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/texty/login</url-pattern>
		<url-pattern>/textyreports/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>administrationServlet</servlet-name>
		<url-pattern>/texty/administration</url-pattern>
		<url-pattern>/textyreports/administration</url-pattern>
	</servlet-mapping>

</web-app>