/** Set ids using widget.getElement().setId("idOfElement") for buttons */
#button {
	background: none;
	background-color: #0080c0;
	border: 0px outset buttonface;
	color: white;
	float: right;
	font-family: Texty;
	font-size: 18px;
	height: 36px;
	margin: 2px;
	padding: 5px;
	text-align: center;
	width: 150px;
}

#button:hover {
	background-color: #80bfff;
}

#editMessageButton {
	background: none;
	background-color: #80bfff;
	border: 0px outset buttonface;
	color: white;
	float: right;
	font-family: Texty;
	font-size: 18px;
	height: 36px;
	margin: 2px;
	padding: 5px;
	text-align: center;
	width: 150px;
}

#editMessageButton:hover {
	background-color: #81DAF5;
}

#addButton {
	background: url('http://texty-project.appspot.com/icons/icon-add.png');
	border: 0px outset buttonface;
	float: right;
	height: 25px;
	margin-left: 5px;
	margin-top: 2px;
	width: 25px;
}

#addButton:hover {
	background: url('http://texty-project.appspot.com/icons/icon-add-over.png');
	border: 0px outset buttonface;
	height: 25px;
	margin-left: 5px;
	width: 25px; 
}

#editButton {
	background: url('http://texty-project.appspot.com/icons/icon-edit.png');
	border: 0px outset buttonface;
	height: 25px;
	margin-left: 10px;
	width: 25px;
}

#editButton:hover {
	background: url('http://texty-project.appspot.com/icons/icon-edit-over.png');
	border: 0px outset buttonface;
	height: 25px;
	width: 25px;
}

#deleteButton {
	background: url('http://texty-project.appspot.com/icons/icon-delete.png');
	border: 0px outset buttonface;
	height: 25px;
	margin-left: 5px;
	width: 25px;
}

#deleteButton:hover {
	background: url('http://texty-project.appspot.com/icons/icon-delete-over.png');
	border: 0px outset buttonface;
	height: 25px;
	width: 25px;
}

#removeButton {
	font-family: Texty;
    font-size: 15px;
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}

#removeButton:hover {
	color: red;
}