/** Set ids using widget.getElement().setId("idOfElement") for buttons */
#button {
	background: none;
	background-color: #003399;
	border: 0px outset buttonface;
	color: white;
	font-family: Texty;
	font-size: 1.5em;
	height: 36px;
	margin: 2px;
	padding: 5px;
	text-align: center;
	width: 120px;
}

#button:hover {
	background-color: #80bfff;
}

#sendButton {
	background: none;
	background-color: #003399;
	border: 0px outset buttonface;
	color: white;
	float: right;
	font-family: Texty;
	font-size: 18px;
	height: 36px;
	padding: 5px;
	text-align: center;
	width: 120px;
}

#sendButton:hover {
	background-color: #80bfff;
}

#addButton {
	background: url('http://127.0.0.1:8888/icons/icon-add.png');
	border: 0px outset buttonface;
	height: 25px;
	margin-left: 5px;
	margin-top: 2px;
	width: 25px;
}

#addButton:hover {
	background: url('http://127.0.0.1:8888/icons/icon-add-over.png');
	border: 0px outset buttonface;
	height: 25px;
	margin-left: 5px;
	width: 25px; 
}

#editButton {
	background: url('http://127.0.0.1:8888/icons/icon-edit.png');
	border: 0px outset buttonface;
	height: 25px;
	margin-left: 10px;
	width: 25px;
}

#editButton:hover {
	background: url('http://127.0.0.1:8888/icons/icon-edit-over.png');
	border: 0px outset buttonface;
	height: 25px;
	width: 25px;
}

#deleteButton {
	background: url('http://127.0.0.1:8888/icons/icon-delete.png');
	border: 0px outset buttonface;
	height: 25px;
	margin-left: 5px;
	width: 25px;
}

#deleteButton:hover {
	background: url('http://127.0.0.1:8888/icons/icon-delete-over.png');
	border: 0px outset buttonface;
	height: 25px;
	width: 25px;
}

#removeButton {
	font-family: Texty;
	font-size: 15px;
	margin-right: 2px;
}

#removeButton:hover {
	color: red;
}