/** CSS for HashtagForm */
#hashtagForm{
	height: 20%;
	width: 100%;
}

#hashtagPanel {
	background-color: #80bfff;
	border-radius: 10px;
	margin-right: 3px;
	padding: 3px;
}

#selectedHashtagLabel {
	color: #ffffff;
	font-family: Texty;
	font-size: 15px;
	margin-left: 2px;
	margin-right: 4px;
}
