/** Set layout (size, color) for different div areas */
img#Logo {
	float: left;
	height: 10%;
	left: 35px;
	position: absolute;
	top: 50px;
	width: 5%;
}

div#Wrapper {
	margin: auto;
	text-align: left;
	height: 96%;
}

div#Header {
	background-color: #003399;
	clear: left;
	height: 17%;
	padding: 5px;
}

div#Menu {
	background-color: #80bfff;
	height: 44px;
	padding: 5px;
}

div#Navigator {
	background-color: #0080c0;
	color: white;
	height: 77%;
	float: left;
	font-family: Texty;
	font-size: 1.5em;
	padding: 1%;
	width: 23%;
}

div#Details {
	height: 77%;
	font-family: Texty;
	font-size: 1.5em;
	padding: 5px;
	width: 100%;
}

div#Footer {
	background-color: #80bfff;
	bottom: 0;
	color: white;
	height: 50px;
	left: 0;
	opacity: 1;
	padding: 5px;
	position: absolute;
	width: 100%;
	z-index: 990;
}

div#Banner {
	background-color: #2D2D2D;
	border-bottom: 1px solid #000;
	color: #FFF;
	cursor: auto;
	font-family: Texty;
	font-size: 1.5em;
	height: 31px;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 990;
}

div.gwt-Label {
	color: white;
	font-family: Texty;
	font-size: 1.5em;
	text-align: left;
}

div.gwt-Label.Footer {
	color: white;
	font-family: Texty;
	font-size: 1.8em;
	text-align: center;
}

div#Details .texty-headline {
	color: black;
}

input.gwt-SuggestBox {
	color: #0080c0;
	font-family: Texty;
	font-size: 1.5em;
	text-align: left;
	height: 20px;
}

.texty-headline {
	color: white;
	font-family: Texty;
	font-size: 2em;
	margin-bottom: 10px;
}

.errorLabel {
	color: yellow;
	font-family: Texty;
	font-size: 1.5em;
}

.selectedObjectLabel {
	background-color: #003399;
	color: white;
	font-family: Texty;
	font-size: 1.5em;
	height: 25px;
	margin-bottom: 2px;
	margin-left: 10px;
	padding-left: 8px;
	width: 150px;
}

.gwt-Anchor {
	color: #0080c0;
	font-family: Texty;
	font-size: 1.5em;
	margin-right: 10px;
}

.gwt-Anchor:hover {
	color: #80bfff;
}

.buttonLabel {
	margin-top: 10px;
}

.scrollPanel {
	scrollbar-3dlight-color: #FFD700;
	scrollbar-arrow-color: #FFFF00;
	scrollbar-base-color: #FF6347;
	scrollbar-darkshadow-color: #FFA500;
	scrollbar-face-color: #008080;
	scrollbar-highlight-color: #FF69B4;
	scrollbar-shadow-color: #FF00FF;
}