/** Set layout (size, color) for different div areas */
img#Logo {
	float: left;
	height: 10%;
	left: 13%;
	position: absolute;
	top: 50px;
	width: 5%;
}

div#Wrapper {
	margin: auto;
	text-align: left;
	width: 80%;
	height: 100%;
}

div#Header {
	background-color: #003399;
	clear: left;
	height: 17%;
	padding: 5px;
}

div#Menu {
	background-color: #80bfff;
	height: 44px;
	padding: 5px;
}

div#container {
	width: 100%;
	height: 73%;
	display: -webkit-flex;
	display: flex;
}

div#Navigator {
	background-color: #0080c0;
	height: 100%;
	flex: 1;
	padding: 0% 1%;
	width: 100%;
}

div#Details {
	background-color: #ffffff;
	height: 100%;
	flex: 2;
	padding: 0% 1%;
	width: 100%;
}

div#Info {
	background-color: #0080c0;
	height: 100%;
	flex: 1;
	padding: 0% 1%;
	width: 100%;
}

div#Footer {
	background-color: #80bfff;
	color: white;
	height: 5%;
	padding: 5px;

}

div#Banner {
	background-color: #2D2D2D;
	border-bottom: 1px solid #000;
	color: #FFF;
	cursor: auto;
	font-family: Texty;
	font-size: 1.5em;
	height: 31px;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 990;
}

#texty-headline {
	color: white;
	font-family: Texty;
	font-size: 2em;
	height: 25px !important;
	padding-top: 1%;
	margin-bottom: 10px;
}

div#Details .texty-headline {
	color: black;
}

div.gwt-Label {
	color: white;
	font-family: Texty;
	font-size: 18px;
	text-align: left;
}

.gwt-HTML {
	color: white;
	font-family: Texty;
	font-size: 1.5em;
	text-align: left;
}

div#Details .gwt-HTML {
	color: black;
}

div.gwt-Label.Footer {
	color: white;
	font-family: Texty;
	font-size: 1.8em;
	text-align: center;
}

input.gwt-SuggestBox {
	color: #0080c0;
	font-family: Texty;
	font-size: 1.5em;
	text-align: left;
	height: 20px;
	width: 100%;
}

.gwt-Anchor {
	color: #0080c0;
	font-family: Texty;
	font-size: 1.5em;
	margin-right: 10px;
}

.gwt-Anchor:hover {
	color: #80bfff;
}

#buttonLabel {
	margin-top: 10px;
}

.ProfileForm{
	height: 20px;
	width: 100%
}

.ProfileForm td {
	color: #ffffff;
	font-family: Texty;
	font-size: 18px;
	text-align: left;
}

.gwt-TextBox {
	color: #0080c0;
	font-family: Texty !important;
	font-size: 18px !important;
	text-align: left;
	height: 20px;
	width: 96%;
}

#blackFont{
	color: #000000;
	font-family: Texty;
	font-size: 18px;
}

#fullSize {
	height: 100%;
	width: 100%;
}

#fullWidth {
	width: 100%;
}
