/** Set style for menubar and table, including gwt.uid's for submenu */
.menubar {
	
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
	background-color: #0080c0;
	color: white;
	text-align: center;
}

td:hover {
	background-color: white;
	color: #0080c0;
}

#gwt-uid-1 {
	text-align: left;
	font-family: Texty;
	font-size: 1.3em;
	width: 150px;
	height: 30px;
	padding: 5px;
}

#gwt-uid-2 {
	text-align: left;
	font-family: Texty;
	font-size: 1.3em;
	width: 150px;
	height: 30px;
	padding: 5px;
}

#gwt-uid-3 {
	text-align: left;
	font-family: Texty;
	font-size: 1.3em;
	width: 150px;
	height: 30px;
	padding: 5px;
}

#gwt-uid-4 {
	text-align: left;
	font-family: Texty;
	font-size: 1.3em;
	width: 150px;
	height: 30px;
	padding: 5px;
}

#gwt-uid-5 {
	text-align: left;
	font-family: Texty;
	font-size: 1.3em;
	width: 150px;
	height: 30px;
	padding: 5px;
}

#gwt-uid-6 {
	text-align: left;
	font-family: Texty;
	font-size: 1.3em;
	width: 150px;
	height: 30px;
	padding: 5px;
}

#gwt-uid-7 {
	text-align: left;
	font-family: Texty;
	font-size: 1.3em;
	width: 150px;
	height: 30px;
	padding: 5px;
}

#gwt-uid-8 {
	text-align: left;
	font-family: Texty;
	font-size: 1.3em;
	width: 150px;
	height: 30px;
	padding: 5px;
}

#gwt-uid-9 {
	text-align: left;
	font-family: Texty;
	font-size: 1.3em;
	width: 150px;
	height: 30px;
	padding: 5px;
}

#gwt-uid-10 {
	text-align: left;
	font-family: Texty;
	font-size: 1.3em;
	width: 150px;
	height: 30px;
	padding: 5px;
}

#gwt-uid-11 {
	font-family: Texty;
	font-size: 1.5em;
	width: 150px;
	height: 30px;
	padding: 5px;
}

#gwt-uid-12 {
	font-family: Texty;
	font-size: 1.5em;
	width: 150px;
	height: 30px;
	padding: 5px;
}

#gwt-uid-13 {
	font-family: Texty;
	font-size: 1.5em;
	width: 150px;
	height: 30px;
	padding: 5px;
}