/** Set style for menubar and table, including gwt-MenuItem for each submenu */
.menubar table {
	margin-left: auto;
	margin-right: auto;
}

.gwt-MenuItem {
	background-color: #0080c0;
	color: white;
	font-family: Texty;
	font-size: 1.5em;
	height: 30px;
	padding: 5px;
	text-align: center;
	width: 150px;
}

.gwt-MenuItem:hover {
	background-color: white;
	color: #0080c0;
}
