/** CSS for MessageForm */
#messageForm{
	height: 30%;
	width: 100%;
}

#messageFormScroll{
	height: 55px;
}

#messageFormTextarea {
	color: #80bfff;
	font-family: Texty;
	font-size: 18px;
	resize: none;
	width: 98%;
	height: 120px;
}
