/** CSS for Subscriptions */
#subscriptionForm {
	height: 20%;
	width: 100%;
}

#selectedObjectLabel {
	background-color: #80bfff;
	border-radius: 10px;
	height: 25px;
	margin-top: 5px;
	margin-left: 10px;
	padding-left: 8px;
	width: 50%;
}

.subscriptionFlexTableCell {
	width: 50%;
}
