/** Set general style for html, body, font and captions */
@import "Button.css";

@import "Layout.css";

@import "Menu.css";

@import "MessageForm.css";

@import "SubscriptionForm.css";

@import "InfoBox.css";

@import "ConversationForm.css";

@font-face {
	font-family: Texty;
	src: url('Texty.otf');
}

html {
	background-color: #f0f0f0;
	height: 100%;
}

body {
	background-color: #f0f0f0 !important;
	color: #ffffff;
	font-family: Texty;
	font-size: 18px;
	height: 96%;
}

h1 {
	color: #ffffff;
	font-family: Texty;
	font-size: 36px;
	font-weight: bold;
	margin-top: 4%;
	text-align: center;
}
