/** Set general style for html, body, font and captions */
@import "Button.css";
@import "Layout.css";
@import "Menu.css";

html {
	height: 100%;
	background-color: #f0f0f0;
}

body {
	height: 96%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  margin: 40px 0px 70px;
  text-align: center;
}
