/** Set general style for html, body, font and captions */
@import "Button.css";

@import "Layout.css";

@import "Menu.css";

@import "MessageForm.css";

@import "SubscriptionForm.css";

@import "InfoBox.css";

@import "ConversationForm.css";

@font-face {
	font-family: Texty;
	src: url('Texty.otf');
}

#reporttable {
  width: 100%;
  border: solid 2px gray; 
  border-radius: 6px
  
}

#receiver {
	width:20%;
	border: solid 2px gray; 
	border-radius: 6px;
	background-color: silver;
}

#author {
	width:20%;
	border: solid 2px gray; 
	border-radius: 6px;
	background-color: silver;
}
#message{
	width:45%;
	border: solid 2px gray; 
	border-radius: 6px;
	background-color: silver;
}
#creationdate {
	width:15%;
	border: solid 2px gray; 
	border-radius: 6px;
	background-color: silver;
}

#hashtag {
	width:45%;
	border: solid 2px gray; 
	border-radius: 6px;
	background-color: silver;
}

#spalten {
	border:1px solid silver;  
}

#zelle {
	border:1px solid silver;
	
}
